{{#if @noMatchesMessage}}
  <ul class="ember-power-select-options" role="listbox">
    <li class="ember-power-select-option ember-power-select-option--no-matches-message" role="option">
      {{@noMatchesMessage}}
    </li>
  </ul>
{{/if}}