{{#if @noMatchesMessage}}
  <ul class="ember-power-select-options" role="listbox" aria-label={{@ariaLabel}} aria-labelledby={{@ariaLabelledBy}}>
    <li class="ember-power-select-option ember-power-select-option--no-matches-message" role="option" aria-selected={{false}}>
      {{@noMatchesMessage}}
    </li>
  </ul>
{{/if}}