{{#if @isMutlipleWithSearch}}
  <@inputComponent @isDefaultPlaceholder={{true}} />
{{else if @placeholder}}
  <span
    class="ember-power-select-placeholder"
    ...attributes
  >{{@placeholder}}</span>
{{/if}}