// Docs
.docs {
  @extend %wrapper;
  display: flex;
  padding-top: 2rem;
}
// Nav
$docs-nav-color: #777;
.docs-nav {
  width: 200px;
  color: $docs-nav-color;
  flex: 0 0 25%;
}
.docs-nav-header {
  font-size: 18px;
  font-weight: 300;
  color: #777;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(153, 153, 153, 0.2);
  &:not(:first-child) {
    margin-top: 1.5rem;
  }
}
.docs-nav-link {
  display: block;
  color: #999;
  padding-left: 16px;
  &.active {
    border-left: 3px solid $brand-color;
    color: $brand-color;
    padding-left: 16px - 3px;
  }
}
// Doc page
.doc-page {
  padding-left: 2rem;
}
.doc-page-title {
  margin-top: 0;
}
.doc-page-nav-link-next, .doc-page-nav-link-prev {
  border: 1px solid $brand-color;
  padding: 0.2rem 0.5rem;
  font-weight: 600;
  border-radius: 4px;
}
.doc-page-nav-link-next {
  float: right;
}
.doc-page-nav-link-prev {
  float: left;
}

