// Headline
.main-page-headline {
  background: $brand-color linear-gradient($brand-color, $brand-color-brighter);
  height: 300px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-page-headline-content {
  text-align: center;
  color: inherit;
  max-width: 530px;
  font-weight: 200;
  img { vertical-align: top; }
  @media only screen and (max-width: $small-breakpoint) {
    font-size: 34px;
    img { height: 40px; }
  }
  @media only screen and (min-width: $small-breakpoint) {
    font-size: 42px;
    img { height: 48px; }
  }
}
// Selling points
.selling-points {
  @extend %wrapper;
  display: flex;
  @media only screen and (max-width: $small-breakpoint) {
    flex-direction: column;
  }
}
.selling-point {
  display: flex;
  padding: 2rem 0.5rem;
  flex: 1;
  flex-direction: column;
}
.selling-point-text {
  color: $gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    font-weight: 400;
    font-size: 1.5em;
  }
}

// get-started-button
.get-started-button {
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid $brand-color;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  display: inline-block;
}