// Main footer
.main-footer {
  color: $gray;
  background-color: $light-gray;
  border-top: 1px solid #bbb;
  padding-left: 1rem;
  padding-right: 1rem;
}
.main-footer-content {
  @extend %wrapper;
  padding: 1rem 0;
}