// main header
.main-header {
  background-color: $brand-color;
  color: white;
}
.main-header-nav {
  @extend %wrapper;
}
.main-header-logo {
  color: white;
  font-size: 30px;
  display: flex;
  align-items: center;
  img {
    height: 36px;
  }
  .home-link {
    display: flex;
    flex-direction: column;
    margin-right: 5px;
  }
}
.main-header-nav-links {
  display: flex;
}
.main-header-nav-link {
  color: inherit;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
}
// Easter egg
$almost-white: #fff2f2;
.main-header-select {
  a { color: $almost-white; }
  .ember-basic-dropdown-trigger.ember-power-select-trigger {
    padding: 0rem 2rem 0rem 0.5rem !important;
    background-color: transparent;
    border: 2px solid $almost-white !important;
    border-radius: 4px;
    line-height: 1.6;
    white-space: nowrap;
    outline: none;
  }
  .ember-power-select-status-icon {
    border-width: 12px 7px 0 7px;
    border-color: white transparent transparent transparent;
  }
}
.ember-power-select-dropdown.main-header-select-dropdown {
  color: $almost-white;
  line-height: 3rem;
  font-size: 24px;
  border: 2px solid $almost-white;
  border-top: none;
  background: $brand-color linear-gradient(#E61A1A, #EB3E3E);
  .ember-power-select-option {
    font-weight: 600;
  }
  &.ember-basic-dropdown--below {
    border-bottom: 2px solid $almost-white;
  }
  border-bottom: 2px solid $almost-white;
  .ember-power-select-option[aria-selected=true] {
    background-color: transparent;
  }
  .ember-power-select-option[aria-current=true] {
    background-color: $almost-white;
    color: $brand-color;
  }
}
@media only screen and (max-width: $small-breakpoint) {
  .main-header {
    line-height: 44px;
  }
  .main-header-nav {
    padding-right: 0;
    padding-left: 0;
  }
  .main-header-logo {
    display: block;
    text-align: center;
  }
  .main-header-nav-links {
    justify-content: space-between;
    background-color: rgba(black, 0.2);
  }
}
@media only screen and (min-width: $small-breakpoint) {
  .main-header {
    line-height: 66px;
  }
  .main-header-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .main-header-nav-link.active {
    background-color: white;
    color: $brand-color;
  }
}

