{{!-- <h1 class="doc-page-title">Debounce searches</h1>

<p>
  One very common pattern when performing asynchronous searches is to debounce
  the requests to not stress the servers with potentially expensive requests and to
  avoid hitting API rate limits.
</p>

<p>
  This is how it can be implemented in a few lines.
</p>

{{#ember-power-select search=(action "searchRepo") as |repo|}}
  {{repo.full_name}}
{{/ember-power-select}} --}}