@use 'sass:color';
@use '../utilities';
@use '../variables';

// Main footer
.main-footer {
  color: variables.$gray;
  background-color: variables.$light-gray;
  border-top: 1px solid #bbb;
  padding-left: 1rem;
  padding-right: 1rem;

  a {
    color: variables.$link-gray;
  }
}
.main-footer-content {
  @extend %wrapper;
  padding: 1rem 0;
}
@media only screen and (min-width: variables.$medium-breakpoint) {
  .icons-attributions {
    float: right;
  }
}

.contribute-call-to-action a {
  border-radius: 4px;
  padding: 5px 10px;
  text-align: center;
  background-color: variables.$brand-color;
  color: white;
  border: 1px solid color.adjust(variables.$brand-color, $lightness: -12%);
  box-shadow: 0 2px color.adjust(variables.$brand-color, $lightness: -18%);
  &:hover {
    background-color: color.adjust(variables.$brand-color, $lightness: -5%);
  }
}
@media only screen and (min-width: variables.$small-breakpoint) {
  .contribute-call-to-action {
    float: right;
  }
}
