{{#power-select
  options=emptyList
  selected=selected
  onchange=(action (mut selected))
  as |name|
}}
  {{name}}
{{else}}
  <div class="text-center">
    <img width="150" src="/grumpy-cat.png" alt="grumpy cat">
  </div>
{{/power-select}}