{{#power-select
  options=names
  renderInPlace=true
  selected=name345
  onchange=(action (mut name345))
  as |name|
}}
  {{name}}
  <a onmouseup={{action "stopPropagation"}} 
    onclick={{action "removeName" name}}>&times;</a>
{{/power-select}}
