<button onclick={{action "refreshCollection"}}>Refresh collection</button>
<br>
Default loading message
{{#power-select
  options=promise
  selected=selected
  onChange=(action (mut selected))
  as |name|
}}
  {{name}}
{{/power-select}}
<br>
Custom loading message (press the <code>Refresh Collection</code> button and open this select)
{{#power-select
  options=promise
  loadingMessage="Waiting for the server...."
  selected=selected
  onChange=(action (mut selected))
  as |name|
}}
  {{name}}
{{/power-select}}