{{#if selection}}
  {{yield selection}}
  {{#if allowClear}}
    <span class="ember-power-select-clear-btn" onclick={{action clearSelection dropdown}}>&times;</span>
  {{/if}}
{{else if placeholder}}
  <span class="ember-power-select-placeholder">{{placeholder}}</span>
{{/if}}
<span class="ember-power-select-status-icon"></span>