{{#if selection}}
  {{yield selection searchText}}
  {{#if select.actions.clear}}
    <span class="ember-power-select-clear-btn" onclick={{select.actions.clear}}>&times;</span>
  {{/if}}
{{else if placeholder}}
  <span class="ember-power-select-placeholder">{{placeholder}}</span>
{{/if}}
<span class="ember-power-select-status-icon"></span>