<nav class="code-sample-tabs">
  {{#each tabs as |tab|}}
    <div class="code-sample-tab {{if (eq activeTab tab) 'active'}}" onclick={{action (mut activeTab) tab}}>{{tab}}</div>
  {{/each}}
</nav>
{{yield this}}