{{#if disabled}}
  {{#link-to "public-pages.index"}}
    <strong>Power</strong> Select
    <div class="ember-power-select-status-icon"></div>
  {{/link-to}}
{{else}}
  <strong>Power</strong> Select
  <div class="ember-power-select-status-icon"></div>
{{/if}}