// Colors
$text-color: #333;
$headings-text-color: #313131;
$code-text-color: $text-color;

// // Orange theme
// $brand-color: #D8563A;
// $brand-color-brighter: #E67C00;
// $link-color: $brand-color;

// // Blue theme
// $brand-color: #1983FF;
// $brand-color-brighter: #27A9C5;
// $link-color: $brand-color;

// // Purple theme
// $brand-color: #6D48A5;
// $brand-color-brighter: #8D66C8;
// $link-color: $brand-color;

// // Lile theme
// $brand-color: #A826CE;
// $brand-color-brighter: #C07CD4;
// $link-color: $brand-color;

// // Pink theme
// $brand-color: #CE269F;
// $brand-color-brighter: #DD82C3;
// $link-color: $brand-color;

// // Red-ish theme
// $brand-color: #CE264A;
// $brand-color-brighter: #F77F7F;
// $link-color: $brand-color;

// Red
$brand-color: #E61A1A;
$brand-color-brighter: #FD6868;
$link-color: $brand-color;

$light-gray: #ddd;
$gray: #888;
