@import 'variables';
@import 'base';
@import 'utilities';
@import 'layout';

// Components
@import 'components/main-header';
@import 'components/main-footer';
@import 'components/index';
@import 'components/side-nav';
@import 'components/docs';
@import 'components/cookbook';
@import 'components/code-sample';

// Legacy demo
@import 'ember-power-select';

// Utility classes
.evenly-splitted {
  > * {
    margin-bottom: 1rem;
  }
  @media only screen and (min-width: $small-breakpoint) {
    display: flex;
    > * {
      padding: 0 5px;
      flex: 1;
    }
  }
}
// App styles

.icon-flag {
  display: inline-block;
  height: 14px;
  width: 20px;
  .ember-power-select-multiple-option & {
    vertical-align: -10%;
  }
}
.icon-flag, .country-detailed-info .country-flag {
  background-repeat: no-repeat;
  background-size: cover;
  &.US { background-image: url("/flags/us.svg"); }
  &.ES { background-image: url("/flags/es.svg"); }
  &.PT { background-image: url("/flags/pt.svg"); }
  &.RU { background-image: url("/flags/ru.svg"); }
  &.LV { background-image: url("/flags/lv.svg"); }
  &.BR { background-image: url("/flags/br.svg"); }
  &.GB { background-image: url("/flags/gb.svg"); }
}
.country-detailed-info {
  margin: 0 -8px;
  display: flex;
  .country-flag {
    width: 92px;
    height: 69px;
  }
  .country-data-text {
    padding: 6px;
  }
}

.legacy-demo {
  max-width: 1000px;
  margin: 0 auto;
}

.horizontally-centered {
  margin: 0 auto;
  display: block;
}
.text-center {
  text-align: center;
}

// Syntax highlighting
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.diff .hljs-header {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-hexcolor,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula {
  color: #d14;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold;
}

.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rule .hljs-property,

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.hljs-name {
  color: #008080;
}

.hljs-regexp {
  color: #009926;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073;
}

.hljs-built_in {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}

/// Bootstrap theme demo
.bootstrap-theme {
  .ember-power-select-trigger {
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #ffffff;
    line-height: 2;
    text-overflow: ellipsis;
    min-height: 2em;
    user-select: none;
    -webkit-user-select: none;
    color: inherit;
  }
  &.ember-basic-dropdown--focus-inside .ember-power-select-trigger,
  .ember-power-select-trigger:focus {
    border: 1px solid #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0;
  }

  &.ember-basic-dropdown--below .ember-power-select-trigger[aria-expanded="true"],
  &.ember-basic-dropdown--in-place .ember-power-select-trigger[aria-expanded="true"] {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px; }

  &.ember-basic-dropdown--above .ember-power-select-trigger[aria-expanded="true"] {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px; }

  .ember-power-select-placeholder {
    color: #999999;
    display: block;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

  .ember-power-select-status-icon {
    position: absolute;
    display: inline-block;
    width: 0;
    height: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border-style: solid;
    border-width: 7px 4px 0 4px;
    border-color: #999 transparent transparent transparent; }
    .ember-basic-dropdown-trigger[aria-expanded="true"] .ember-power-select-status-icon {
      transform: rotate(180deg); }

  .ember-power-select-trigger-multiple-input {
    flex: 1;
    font-family: inherit;
    font-size: inherit;
    border: none;
    width: 25px;
    display: inline-block;
    line-height: inherit;
    -webkit-appearance: none;
    outline: none;
    padding: 0;
    float: left;
    background-color: transparent; }
    .ember-power-select-trigger-multiple-input:disabled {
      background-color: #eeeeee; }

  .ember-power-select-multiple-option {
    border: 1px solid gray;
    border-radius: 4px;
    color: #333333;
    background-color: #e4e4e4;
    padding: 0 4px;
    display: inline-block;
    line-height: 1.45;
    float: left;
    margin: 2px 3px 2px 0; }

  .ember-power-select-multiple-remove-btn {
    cursor: pointer; }
    .ember-power-select-multiple-remove-btn:not(:hover) {
      opacity: 0.5; }

  .ember-power-select-trigger[aria-disabled=true] {
    background-color: #eeeeee; }

  .ember-power-select-trigger {
    padding: 0 16px 0 8px; }

  .ember-power-select-status-icon {
    right: 5px; }

  .ember-power-select-clear-btn {
    right: 25px; }
}

.bootstrap-theme-dropdown {
  &.ember-power-select-dropdown {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    line-height: 2;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.172549) 0px 6px 12px 0px;
    overflow: hidden;
    color: inherit; }
    &.ember-power-select-dropdown.ember-basic-dropdown--above {
      transform: translateY(-3px);
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-bottom-left-radius: 4px;
      border-bottom-right-radius: 4px; }
    &.ember-power-select-dropdown.ember-basic-dropdown--below, .ember-basic-dropdown--in-place &.ember-power-select-dropdown {
      transform: translateY(3px);
      border-top: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px; }
  .ember-power-select-search input {
    border: 1px solid #ccc;
    border-radius: 3px;
    width: 100%;
    font-size: inherit;
    line-height: inherit;
    padding: 0 5px; }
    .ember-power-select-search input:focus {
      border: 1px solid #66afe9;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
      outline: 0; }

  .ember-power-select-options {
    list-style: none;
    margin: 0;
    padding: 0;
    user-select: none;
    -webkit-user-select: none; }
    .ember-power-select-options[role="listbox"] {
      overflow-y: auto;
      max-height: 14em; }

  .ember-power-select-option {
    cursor: pointer;
    padding: 0 8px; }

  .ember-power-select-option[aria-disabled="true"] {
    color: #999999;
    pointer-events: none; }

  .ember-power-select-option[aria-selected="true"] {
    background-color: #f5f5f5; }

  .ember-power-select-option[aria-current="true"] {
    background-color: #f5f5f5;
    color: inherit; }

  .ember-power-select-group-name {
    cursor: default;
    font-weight: bold; }
  .ember-power-select-group .ember-power-select-group .ember-power-select-group-name {
    padding-left: 24px; }

  .ember-power-select-group .ember-power-select-group .ember-power-select-option {
    padding-left: 40px; }

  .ember-power-select-group .ember-power-select-option {
    padding-left: 24px; }

  .ember-power-select-group .ember-power-select-group-name {
    padding-left: 8px; }
}

//// End of bootstrap styles

@keyframes drop-fade-below {
  0%   {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(3px);
  }
}
@keyframes drop-fade-above {
  0%   {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(-3px);
  }
}

.slide-fade {
  will-change: transform, opacity;
  &.ember-basic-dropdown--below.ember-basic-dropdown--transitioning-in {
    animation: drop-fade-below .15s;
  }
  &.ember-basic-dropdown--below.ember-basic-dropdown--transitioning-out {
    animation: drop-fade-below .15s reverse;
  }
  &.ember-basic-dropdown--above.ember-basic-dropdown--transitioning-in {
    animation: drop-fade-above .15s;
  }
  &.ember-basic-dropdown--above.ember-basic-dropdown--transitioning-out {
    animation: drop-fade-above .15s reverse;
  }
}