@import 'variables';
@import 'base';
@import 'utilities';
@import 'layout';

// Components
@import 'components/main-header';
@import 'components/main-footer';
@import 'components/index';
@import 'components/side-nav';
@import 'components/docs';
@import 'components/cookbook';
@import 'components/code-sample';

// Legacy demo
@import 'ember-power-select';

.icon-flag {
  display: inline-block;
  height: 14px;
  width: 20px;
  .ember-power-select-multiple-option & {
    vertical-align: -10%;
  }
}
.icon-flag, .country-detailed-info .country-flag {
  background-repeat: no-repeat;
  background-size: cover;
  &.US { background-image: url("/flags/us.svg"); }
  &.ES { background-image: url("/flags/es.svg"); }
  &.PT { background-image: url("/flags/pt.svg"); }
  &.RU { background-image: url("/flags/ru.svg"); }
  &.LV { background-image: url("/flags/lv.svg"); }
  &.BR { background-image: url("/flags/br.svg"); }
  &.GB { background-image: url("/flags/gb.svg"); }
}
.country-detailed-info {
  margin: 0 -8px;
  display: flex;
  .country-flag {
    width: 92px;
    height: 69px;
  }
  .country-data-text {
    padding: 6px;
  }
}

.legacy-demo {
  max-width: 1000px;
  margin: 0 auto;
}

.horizontally-centered {
  margin: 0 auto;
  display: block;
}
.text-center {
  text-align: center;
}

// Syntax highlighting
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: #333;
  background: #f8f8f8;
  -webkit-text-size-adjust: none;
}

.hljs-comment,
.diff .hljs-header {
  color: #998;
  font-style: italic;
}

.hljs-keyword,
.css .rule .hljs-keyword,
.hljs-winutils,
.nginx .hljs-title,
.hljs-subst,
.hljs-request,
.hljs-status {
  color: #333;
  font-weight: bold;
}

.hljs-number,
.hljs-hexcolor,
.hljs-string,
.hljs-tag .hljs-value,
.hljs-doctag,
.tex .hljs-formula {
  color: #d14;
}

.hljs-title,
.hljs-id,
.scss .hljs-preprocessor {
  color: #900;
  font-weight: bold;
}

.hljs-list .hljs-keyword,
.hljs-subst {
  font-weight: normal;
}

.hljs-class .hljs-title,
.hljs-type,
.vhdl .hljs-literal,
.tex .hljs-command {
  color: #458;
  font-weight: bold;
}

.hljs-tag,
.hljs-tag .hljs-title,
.hljs-rule .hljs-property,

.hljs-attribute,
.hljs-variable,
.lisp .hljs-body,
.hljs-name {
  color: #008080;
}

.hljs-regexp {
  color: #009926;
}

.hljs-symbol,
.ruby .hljs-symbol .hljs-string,
.lisp .hljs-keyword,
.clojure .hljs-keyword,
.scheme .hljs-keyword,
.tex .hljs-special,
.hljs-prompt {
  color: #990073;
}

.hljs-built_in {
  color: #0086b3;
}

.hljs-preprocessor,
.hljs-pragma,
.hljs-pi,
.hljs-doctype,
.hljs-shebang,

.hljs-deletion {
  background: #fdd;
}

.hljs-addition {
  background: #dfd;
}

.diff .hljs-change {
  background: #0086b3;
}

.hljs-chunk {
  color: #aaa;
}