<PowerSelect
  @options={{this.names}}
  @destination="customized-destination"
  @selected={{this.name123}}
  @labelText="Name"
  @onChange={{fn (mut this.name123)}} as |name|>
  {{name}}
</PowerSelect>
<div id="customized-destination"></div>
(Looks the same but inspect the DOM to see the difference)
