{{#if @disabled}}
  <LinkTo @route="public-pages.index">
    <strong>Power</strong>
    Select
    <div class="ember-power-select-status-icon"></div>
  </LinkTo>
{{else}}
  <strong>Power</strong>
  Select
  <div class="ember-power-select-status-icon"></div>
{{/if}}