<div class="country-detailed-info">
  <img
    src={{@option.flagUrl}}
    class="country-flag"
    alt="Flag of {{@option.name}}"
  />
  <div class="country-data-text">
    <strong>{{@option.name}}</strong>
    <br />
    <small>Population in 2014: <i>{{@option.population}}</i></small>
  </div>
</div>