<h1 class="doc-page-title">Plugins</h1>

<p>
  Is just not possible to cover all possible different select-like components and
  still provide a minimal and easy to use API. Everybody wants an special tweak, a pinch of
  awesomeness here and there.
</p>

<p>
  And yet, nobody likes massive components whose bloated APIs needs a 8 pages manual describing
  all the possible options.
</p>

<p>
  The goal of Ember Power Select is to be easy to use and customize, so it enables community members
  to build more focused and purpose-specific components on top. To be the foundation to build something
  richer on top.
</p>

<p>
  If you build something and want to share it, let me know and I'll add it to this section.
</p>

<ul>
  <li><a href="https://github.com/cibernox/ember-power-select-blockless">Ember Power Select Blockless</a></li>
</ul>