<h1 class="doc-page-title">Migrate from 7.0 to 8.0</h1>

<p>The addon is now a <a href="https://rfcs.emberjs.com/id/0507-embroider-v2-package-format/">V2 Embroider Addon</a>. The following changes were braking:</p>

<ul>
  <li>
    <p><code>ember-basic-dropdown</code> and <code>ember-concurrency</code> are now peerDependencies. You need to add into your devDependencies</p>
    <div class="highlight">
      <pre class="language-command"><code class="language-command">$ ember install ember-basic-dropdown ember-concurrency</code></pre>
    </div>
    <p>As <code>ember-concurrency</code> is now also a V2 addon. There are some manual steps necessary see <a href="http://ember-concurrency.com/docs/installation" target="_blank" rel="noopener noreferrer">ember-concurrency installation</a></p>
  </li>
  <li>
    <p>Add following line to your <code>application.hbs</code></p>
    <CodeBlock @language="hbs" @code="<BasicDropdownWormhole />" />
  </li>
  <li>
    <p>If you have used vanilla js you must now import the css in <code>app.js</code> manually like (for other css adding examples see under installation)</p>
    <CodeBlock @language="js" @code="import 'ember-power-select/styles';" />
  </li>
  <li>
    <p>If you are using with less you need to add <code>lessOptions</code> into your <code>ember-cli-build.js</code> file</p>
    {{#let (get-code-snippet "installation-2.js") as |snippet|}}
      <CodeBlock @language="js" @code={{snippet.source}} />
    {{/let}}
  </li>
  <li>
    <p>Fix typo: If you have a custom <code>&lt;PlaceholderComponent /&gt;</code> you need to replace <code>@isMutlipleWithSearch</code> with <code>@isMultipleWithSearch</code></p>
  </li>
  <li>
    <p>There were added / modified / fixed some typescript interfaces. This could be braking</p>
  </li>
</ul>

<div class="doc-page-nav">
  <LinkTo @route="public-pages.docs.custom-search-action" class="doc-page-nav-link-prev">&lt; Custom search action</LinkTo>
  <LinkTo @route="public-pages.docs.test-helpers" class="doc-page-nav-link-next">Test helpers &gt;</LinkTo>
</div>
