<h1 class="doc-page-title">Instalation</h1>

<p>
  Ember-power-select is distributed as an <a href="http://www.ember-cli.com/">Ember-cli</a> addon,
  so the only thing you need to do to install it is run
</p>

<div class="highlight">
  <pre>
    <code class="language-text" data-lang="text">
      $ ember install ember-power-select
    </code>
  </pre>
</div>

<div class="doc-page-nav">
  {{#link-to 'docs.index' class="doc-page-nav-link-prev"}}&lt; Installation{{/link-to}}
  {{#link-to 'docs.how-to-use-it' class="doc-page-nav-link-next"}}How to use it &gt;{{/link-to}}
</div>