<h1 class="doc-page-title">Groups</h1>

<p>
  Any component that aims to replace the native select has to handle groups and so does this.
  When the component iterates over the collection of options it checks if the option has an
  attribute named <code>groupName</code> and another named <code>options</code> that is also a collection.
</p>

{{#code-example hbs="groups-1.hbs" js="groups-1-js.js" as |partialName|}}
  {{partial partialName}}
{{/code-example}}

<p>
  You can nest groups inside groups with absolutely no depth limit, everything else like arrow
  navigation and filtering will just work. However, the options of a group cannot be a
  promise, it has to be a regular collection.
</p>

<p>
  This is all you need to know about passing groups of options, but what about when you want to
  select more than one option?
</p>

<div class="doc-page-nav">
  {{#link-to "public-pages.docs.action-handling" class="doc-page-nav-link-prev"}}&lt; Action handling{{/link-to}}
  {{#link-to "public-pages.docs.multiple-selection" class="doc-page-nav-link-next"}}Multiple selection &gt;{{/link-to}}
</div>
