<h1 class="doc-page-title">Installation</h1>

<p>
  Ember-power-select is distributed as an <a href="http://www.ember-cli.com/">Ember-cli</a> addon,
  so the only thing you need to do to install it is run the following command on your ember project directory
</p>

<div class="highlight">
  <pre>
    <code class="language-text" data-lang="text">
      $ ember install ember-power-select
    </code>
  </pre>
</div>

<p>
  If you use just vanilla css, you're good to go. Ember-power-select will add the default styles
  to your vendor css file.
</p>

<p>
  However, if you are using SASS or LESS the addon won't do that. Instead you need to import the
  addon styles yourself.
</p>

<div class="highlight">
  <pre>
    <code class="language-sass" data-lang="sass">
      @import "ember-power-select";
    </code>
  </pre>
</div>

<p>
  When installing this through <pre>ember install</pre> the addon will add the snippet above
  automatically for you in your <code>app.scss</code> or <code>app.less</code>.
</p>

<p>
  This explicit import is needed because using css preprocessors like SASS and LESS allows you to
  customize the appearance of ember-power-select using variables. This is easier and generates less
  code than overriding styles you don't like.
</p>
<p>
  More information about style in {{#link-to "public-pages.docs.styles"}}Basic customization: Styles{{/link-to}}
</p>


<div class="doc-page-nav">
  {{#link-to "public-pages.docs.index" class="doc-page-nav-link-prev"}}&lt; Overview{{/link-to}}
  {{#link-to "public-pages.docs.how-to-use-it" class="doc-page-nav-link-next"}}How to use it &gt;{{/link-to}}
</div>
