<h1 class="doc-page-title">Multiple selection</h1>

<p>
  Ember Power Select has a component for multiple selection named <code>\{{power-select-multiple}}</code>.
</p>

<p>Apart from the different name, the options are identical</p>

{{#code-example hbs="multiple-selection-1.hbs" js="multiple-selection-1-js.js" as |partialName|}}
  {{partial partialName}}
{{/code-example}}

<p>
  The ergonomics of this component are slightly different. You will notice that there is no search box
  in the dropdown box. Instead you can type directly in the trigger to search. This is because you can
  use backspace to remove options and also there is optional support for adding more options with free
  text (think about a component to add tags) but we will dive into that in another chapter.
</p>

<p>
  In the next page we're going to see how to disable the entire component or
  specific options of it.
</p>

<div class="doc-page-nav">
  {{#link-to "public-pages.docs.groups" class="doc-page-nav-link-prev"}}&lt; Groups{{/link-to}}
  {{#link-to "public-pages.docs.the-trigger" class="doc-page-nav-link-next"}}Basic customization &gt;{{/link-to}}
</div>
