<section class="main-page-headline">
  <h1 class="main-page-headline-content">
    Powerful and customizable select component for
    <img src="/ember_logo.png" alt="ember">
  </h1>
</section>
<section class="selling-points">
  <article class="selling-point">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 449.13 449.13" class="selling-point-icon">
      <path fill="#CCC" d="M66.748 110.213c.88-.43 1.737-.895 2.566-1.36.42.556.86 1.087 1.38 1.596l48.53 48.54c3.037-3.56 7.508-5.81 12.354-5.81 1.57 0 3.13.22 4.635.67l6.05 1.8 3.767-12.67-53.94-53.94c-.855-.85-1.775-1.56-2.768-2.17l.127-.56c.12-.51.29-.9.45-1.34.12-.33.25-.68.37-1.04.15-.36.31-.73.47-1.12.27-.65.55-1.36.92-2.08l1.01-2.06 1.15-2.04c.48-.937 1.03-1.75 1.66-2.68.33-.494.67-1.006 1.01-1.525.304-.408.62-.82.935-1.25.785-1.037 1.52-2.02 2.314-2.87l.56-.61c1.052-1.15 2.105-2.34 3.33-3.35.39-.35.683-.62.993-.89.412-.39.832-.78 1.28-1.136l2.364-1.717c.08-.05.13-.1.184-.15.946-.756 2.08-1.396 3.294-2.07.484-.267.955-.53 1.432-.814 1.015-.65 2.062-1.077 3.176-1.52.56-.24 1.11-.46 1.672-.7.32-.13.65-.28.98-.42.35-.15.7-.32 1.05-.41l2.6-.73c.514-.13 1.114-.3 1.72-.48.844-.245 1.662-.48 2.212-.553l6.96-1.016c1.01-.15 1.91-.62 2.6-1.3.753-.765 1.26-1.797 1.33-2.93.15-2.166-1.226-4.144-3.304-4.754l-6.86-1.95c-1.19-.36-2.46-.545-3.68-.724-.542-.084-1.1-.164-1.686-.26l-3.005-.466c-.943-.15-1.826-.173-2.61-.19-.31-.01-.623-.016-.95-.032-.79-.01-1.36-.04-1.946-.07-1.75-.074-3.73-.15-5.83.123l-1.33.11c-2.014.17-4.318.354-6.63.91l-3.71.75c-1.14.282-2.098.577-3.055.875l-1.17.36c-2.68.744-5.22 1.81-7.678 2.845l-.34.14c-2.105.873-4.02 1.893-5.87 2.88l-1.53.813c-.11.05-.19.11-.3.17-.594.37-1.2.73-1.79 1.09-1.6.97-3.27 1.975-4.81 3.12L66.85 55.1c-.053.043-.305.23-.37.28l-2.537 2.025c-.684.528-1.315 1.064-1.92 1.593-4.573.76-8.967 2.884-12.49 6.417l-5.437 5.43c-2.503 2.506-4.85 6.02-6.785 9.957C28.82 79.17 17.25 91.757 0 109l38.57 38.55c13.222-13.23 29.826-28.814 28.178-37.337zm302.437-2.39l24.298 4.7 24.73-31.227c4.517-5.666 12.028-8.26 19.038-6.602V61.247h-36.52v29.22h-39.34l7.8 17.355z"/>
      <path fill="#CCC" d="M148.68 115.712l7.498-25.25h-32.74"/>
      <path fill="#CCC" d="M437.25 247.502v-93.598c-.656.9-1.307 1.81-2.007 2.69-10.165 12.836-23.654 22.075-38.773 26.995h4.27v63.91h-97.862l45.855-62.53c.832-1.07 1.598-2.17 2.308-3.29 25.62 6.42 53.81-2.13 71.25-24.14 12.72-16.06 17.67-36.8 13.56-56.91-.45-2.28-2.2-4.086-4.46-4.63-2.27-.534-4.63.284-6.08 2.1l-29.55 37.32-38.43-7.44-16.04-35.71 29.57-37.32c1.448-1.82 1.7-4.32.658-6.393-1.047-2.08-3.2-3.363-5.516-3.3-20.52.607-39.58 10.16-52.304 26.22-17.417 21.994-19.3 51.37-7.22 74.834-.914.963-1.81 1.984-2.676 3.07l-59.34 70.59 14.36 14.365c3.72 3.72 6.325 8.23 7.716 13.142h-6.4c-1.17-3.225-3.02-6.25-5.616-8.84L172.84 156.94l-2.12 7.124 5.533 1.645c4.17 1.232 7.6 4.015 9.67 7.832 2.066 3.813 2.525 8.213 1.29 12.374-.67 2.23-1.813 4.286-3.325 6.023.43 3.814.107 7.68-1.02 11.4l-7.333 24.702 19.43 19.414h-33.47l14.42-48.562c1.24-4.132 1.138-8.35-.022-12.195 2.032-1.037 3.664-2.876 4.37-5.24 1.35-4.58-1.257-9.4-5.84-10.75l-12.82-3.82 34.85-117.3 1.096.326 9.026-17.477 3.54-27.26L195.07.73l-11.71 24.84-1.88 19.6 1.113.333-34.85 117.305-13.345-3.96c-4.563-1.36-9.392 1.25-10.75 5.826-.653 2.213-.384 4.476.585 6.39-3.21 2.604-5.71 6.18-6.976 10.443l-19.6 65.99h-18.32V183.59h24.254l4.34-14.613c1.09-3.66 1.84-4.67 4.02-7.72L72.79 121.14c-5.36 7.385-10.67 15.046-18.93 23.243l-11.04 11.03V247.5H30.95v127.84c0 40.334 32.715 73.04 73.056 73.04h272.09c40.34 0 73.04-32.7 73.04-73.04V247.5h-11.88zM150.54 202.1c1.44-4.866 6.55-7.628 11.416-6.19 4.844 1.444 7.62 6.554 6.175 11.415l-11.92 40.178h-19.15l13.48-45.403zm-29.586-8.788c1.44-4.857 6.553-7.626 11.414-6.187 4.86 1.442 7.628 6.55 6.182 11.41l-14.544 48.968H104.86l16.094-54.19z"/>
      <path fill="#CCC" d="M197.928 90.462l-14.13 47.568 45.572 45.565h24.428l40.63-48.33c-5.58-14.43-6.84-29.967-4.077-44.804h-92.42z"/>
    </svg>
    <div class="selling-point-text">
      <h2>Feature rich</h2>
      Inspired by Select2.js, selectize.js and others,
      it supports groups, filtering, multiple
      selections, keyboard navigation and is accesible right away.
    </div>
  </article>

  <article class="selling-point">
    <div class="selling-point-code">
      \{{#ember as |ember|}}
    </div>
    <div class="selling-point-text">
      <h2>With Ember for Ember</h2>
      Built using ember best practices, it feels natural to use
      and plays nicely with promises, actions, and ember-data collections.
    </div>
  </article>

  <article class="selling-point">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 491.535 491.535" class="selling-point-icon">
      <path fill="#CCC" d="M306.545 367.594H185.003c-9.04 0-16.382 7.338-16.382 16.385 0 9.05 7.345 16.38 16.386 16.38h121.542c9.04 0 16.39-7.334 16.39-16.384 0-9.048-7.35-16.386-16.39-16.386zm-92.628 96.773v8.926c0 10.076 8.157 18.242 18.24 18.242h27.232c10.06 0 18.235-8.166 18.235-18.242v-8.926c20.642-1.467 36.98-18.498 36.98-39.506H176.92c0 21.01 16.357 38.04 36.997 39.51zM245.777 0C155.084 0 81.56 73.516 81.56 164.207c0 38.268 13.165 73.396 35.153 101.287 19.444 24.647 37.874 51.592 53.76 78.688h150.583c16.05-27.353 34.146-53.793 53.78-78.707 21.968-27.878 35.14-63.01 35.14-101.27C409.976 73.517 336.45 0 245.776 0zm.273 56.97c-58.297 0-105.702 47.413-105.702 105.693 0 9.048-7.327 16.385-16.39 16.385-9.055 0-16.382-7.337-16.382-16.385 0-76.346 62.114-138.46 138.474-138.46 9.034 0 16.383 7.334 16.383 16.382s-7.35 16.386-16.383 16.386z"/>
    </svg>
    <div class="selling-point-text">
      <h2>Do it your way</h2>
      Want custom html? Pass a block. Async searching? Use an action.
      Something totally custom? Just replace pieces of the select
      with your own components and do it.
    </div>
  </article>
</section>
<div class="text-center get-started">
  {{#link-to "public-pages.docs.index" class="get-started-button"}}
    Get started
  {{/link-to}}
</div>