<section class="docs">
  <section class="doc-page">
    <h1 class="doc-page-title">Support the Ember Power Project</h1>

    <p>
      The Ember Power Project started with the goal of providing the Ember ecosystem with a
      set of curated components that cover common UX needs, built in Ember and designed work
      well in Ember apps., from following good patterns like DDAU to also be test-friend
      and render property in Fastboot.
    </p>
 
    <p>
      Over the time this evolved a bit into a theory of how an ecosystem should shape it's addons: Basic components
      that compose to create more complex components using good practices and allowing programmers to customize
      or directly replace the parts they don't like.
    </p>

    <p>
      Those components are divided in three tiers of complexity:
      <ul>
        <li><strong>Building blocks</strong>: Components that do only one thing but do it right. They are low-level, take very few opinions and are focused on flexibility. <a href="https://github.com/cibernox/ember-basic-dropdown">Ember Basic Dropdown</a> and <a href="https://github.com/cibernox/ember-text-measurer">ember-text-measurer</a> are two of them.</li>
        <li>
          <strong>Power Components</strong>: Components that solve an UX problen <em>The Ember Way</em>. That is, they provide opinions and
          work out of the box with a nice public API, yet provide hooks for the users to customize or replace parts of it. <strong>Ember Power Select</strong> and <a href="http://www.ember-power-calendar.com">Ember Power Calendar</a> are of this kind.
        </li>
        <li>
          <strong>Power Meta-addons</strong>: Components that based on other components of the second tier but customize them for a specific purpose or pattern
          that is common enough to deserve to be shared so other users can use them without having to do the customization themselves. <a href="https://github.com/cibernox/ember-power-select-sortable">ember-power-select-sortable</a>,
          <a href="https://github.com/cibernox/ember-power-select-typeahead">ember-power-select-typeahead</a>, <a href="https://github.com/cibernox/ember-power-select-with-fallback">ember-power-select-with-fallback</a> are some examples,
          but there are many more.
        </li>
      </ul>
    </p>

    <p>
      By creating a network of addons that compose between them to create even more addons, we share more. The more we share, the smaller
      our apps become because we don't need to reinvent wheels.
    </p>

    <p>
      If you enjoy the addons this project provides and they help you in your daily work, you can support the development of the addons and it's
      documentation pages with a any contribution you feel appropiate by clicking on the button below but above all, by contributing,
      opening issues and Pull Requests, answering questions in <a target="_blank" rel="noopener noreferrer" href="https://discordapp.com/invite/zT3asNS">Discord</a> or StackOverflow and above all, showing appreciation for everyone who works on
      the Open Source Software we all use everyday.
    </p>

    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top" style="">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHRwYJKoZIhvcNAQcEoIIHODCCBzQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAfnTPFUF7oBhPn11GMQm/UczjTzpGKjsvcEjuV4YarOa5Vd+KXIfERjkDdrMaXFaeyz/2CSA38F162Xsdk1P6HNQbm1ZWWjmtQ85FFkyiNfFmvkwbto7SuzmDmPw0bUjMV56kXE3EljUxhBbF2D4SCNE3I/aAsfWS4RYHEZOPuEjELMAkGBSsOAwIaBQAwgcQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIEPQoYICrEbCAgaD6XDy5HbO/+Zr36kl4+CNU6k4Kh+6MKneulnjvy18vYZ1/j/bUMUp48WhdMYaE6hCzKAYGC2LURC0HHYWKvboUr1OOBu3Xv3rJQvXCETfAZV9WVDMdMttaLAAOwx6zq/+zIJwHyxb8SIIHx2dQeNuoFv3v8mNBPhjqOPy4oKh1il94MFatfNRL+RmXmYm8DvYFZnR8+1H540I9aB556uCUoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTYxMDI2MDk1NDM0WjAjBgkqhkiG9w0BCQQxFgQUwlQ11iyvw6DjyoU014noLLB8Bq0wDQYJKoZIhvcNAQEBBQAEgYCQvp0NIt5Z2T9EmN0Xl/ASwC8kIyR3NTsm3i5C9ZI1AtzbjIVupfPAne8nTBV5DRPYd3dGJYasAsteXn2w/r5AdIH05deuox+4gsIjLlL5IVxMewImydoCL1isA2WGNp6px4zg/Z3qrEKRegk3PCeezIPzUm7NePLjuPGICZ20BA==-----END PKCS7-----">
      <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!" style="display: block; margin: 0 auto;">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

    <p>
      Thank you!
    </p>
  </section>
</section>
