<header class="main-header">
  <nav class="main-header-nav">
    {{#link-to 'application' class="main-header-logo"}}
      <img src="/ember_logo.png" alt="ember"> <strong>Power</strong> Select
    {{/link-to}}
    <div class="main-header-nav-links">
      {{#link-to 'docs' class="main-header-nav-link"}}Docs{{/link-to}}
      {{#link-to 'cookbook' class="main-header-nav-link"}}Cookbook{{/link-to}}
      <a href="https://github.com/cibernox/ember-power-select" class="main-header-nav-link">Github</a>
    </div>
  </nav>
</header>
<div class="main-content">
  {{outlet}}
</div>

<footer class="main-footer">
  <div class="main-footer-content">
    Deployed with love by <a href="http://github.com/cibernox">Miguel Camba</a>
  </div>
</footer>
