<header class="main-header">
  <nav class="main-header-nav">
    <div class="main-header-nav-links">
      {{#link-to 'docs' class="main-header-nav-link"}}Docs{{/link-to}}
      {{#link-to 'cookbook' class="main-header-nav-link"}}Cookbook{{/link-to}}
      <a href="https://github.com/cibernox/ember-power-select" class="main-header-nav-link">Github</a>
    </div>
    {{#link-to 'application' class="main-header-logo"}}
      <img src="/ember_logo.png" alt="ember"> <span class="header-fake-select"><strong>Power</strong> Select</span>
    {{/link-to}}
  </nav>
</header>
<div class="main-content">
  {{outlet}}
</div>

<footer class="main-footer">
  <div class="main-footer-content">
    Deployed with love by <a href="http://github.com/cibernox">Miguel Camba</a>
    <div class="icons-attributions">
      <small>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>  is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></small>
    </div>
  </div>
</footer>
