<section class="docs">
  <nav class="side-nav">
    <header class="side-nav-header">Basic recipes</header>
    {{#link-to 'cookbook.index' class="side-nav-link"}}System-wide configuration{{/link-to}}
    {{#link-to 'cookbook.bootstrap-theme' class="side-nav-link"}}Bootstrap theme{{/link-to}}
    <header class="side-nav-header">Advanced recipies</header>
    {{#link-to 'cookbook.navigable-select' class="side-nav-link"}}Navigable select{{/link-to}}
  </nav>
  <section class="doc-page">
    {{outlet}}
  </section>
</section>