<section class="docs">
  <nav class="side-nav">
    <header class="side-nav-header">Basic recipes</header>
    {{#link-to 'cookbook' class="side-nav-link"}}System-wide configuration{{/link-to}}
{{!--     {{#link-to 'cookbook.recipe2' class="side-nav-link"}}Recipe 2{{/link-to}}

    <header class="side-nav-header">Advanced recipies</header>
    {{#link-to 'cookbook.recipe3' class="side-nav-link"}}Recipe 3{{/link-to}}
 --}}
  </nav>
  <section class="doc-page">
    {{outlet}}
  </section>
</section>