<div id="single-select-without-selected">
  {{#power-select options=numbers selected=none onChange=(action (mut none)) as |num|}}
    {{num}}
  {{/power-select}}
</div>

<div id="single-select-with-selected">
  {{#power-select options=numbers selected=singleSelected onChange=(action (mut singleSelected)) as |num|}}
    {{num}}
  {{/power-select}}
</div>

<div id="multiple-select-without-selected">
  {{#power-select-multiple options=numbers selected=none onChange=(action (mut none)) as |num|}}
    {{num}}
  {{/power-select-multiple}}
</div>

<div id="multiple-select-with-selected">
  {{#power-select-multiple options=numbers selected=multipleSelected onChange=(action (mut multipleSelected)) as |num|}}
    {{num}}
  {{/power-select-multiple}}
</div>