<h3>Helpers testing with single select</h3>
<div class="select-choose">
  {{#power-select options=numbers selected=selected onChange=(action (mut selected)) as |num|}}
    {{num}}
  {{/power-select}}
</div>

{{#if selected}}
  <span class="select-choose-target">You've selected: {{selected}}</span>
{{/if}}
