<section class="main-page-headline">
  <h1 class="main-page-headline-content">
    Powerful and customizable select component for
    <img src="/ember_logo.png" alt="ember">
  </h1>
</section>
<section class="selling-points">
  <article class="selling-point">
    <img src="http://placehold.it/316x246">
    <div class="selling-point-text">
      <h2>Feature rich</h2>
      Inspired by Select2.js it supports groups, filtering,
      promises and multiple selections right away.
    </div>
  </article>

  <article class="selling-point">
    <img src="http://placehold.it/316x246">
    <div class="selling-point-text">
      <h2>With Ember for Ember</h2>
      Built using ember practices, it feels natural to use
      and plays nicely with ember-data collections.
    </div>
  </article>

  <article class="selling-point">
    <img src="http://placehold.it/316x246">
    <div class="selling-point-text">
      <h2>Do it your way</h2>
      Want custom html? Pass a block. Async searching? Use an action.
      Something entirely different? Roll your own template.
    </div>
  </article>
</section>
<div class="text-center">
  {{#link-to 'docs.index' class="get-started-button"}}
    Get started
  {{/link-to}}
</div>