<section class="docs">
  <nav class="side-nav">
    <header class="side-nav-header">Getting started</header>
    {{#link-to 'plugins.index' class="side-nav-link"}}Why plugins?{{/link-to}}
  </nav>
  <section class="doc-page">
    {{outlet}}
  </section>
</section>