{{#if @displayPlaceholder}}
  <div class="ember-power-select-placeholder">
    This is a very
    <span style="font-weight:bold">
      bold
    </span>
    placeholder
  </div>
{{/if}}

{{#let (component (ensure-safe-component @inputComponent)) as |ComponentName|}}
  {{! @glint-nocheck: Argument of type 'unknown' is not assignable to parameter of type 'Element'. }}
  <ComponentName style={{if @displayPlaceholder "position: absolute; top: 0; left: 0;"}} />
{{/let}}