<p id="custom-before-options-p-tag">
  {{@placeholder}}
</p>
{{#if @placeholderComponent}}
  {{#let
    (component (ensure-safe-component @placeholderComponent))
    as |ComponentName|
  }}
    <ComponentName @placeholder={{@placeholder}} @select={{@select}} />
  {{/let}}
{{/if}}