<h1 class="doc-page-title">Addons</h1>

<p>
  Why addons for an addon?
</p>

<p>
  It's just not possible to cover all possible select-like components and
  still provide a minimal and easy to use API. Everybody wants an special tweak, a pinch of
  awesomeness here and there.
</p>

<p>
  And yet, nobody likes massive components whose bloated APIs needs an 8 page manual describing
  all the possible options.
</p>

<p>
  The goal of Ember Power Select is to be easy to use and customize, so it enables community members
  to build more focused and purpose-specific components on top. Aims to be the foundation to build
  richer on top of it.
</p>

<p>
  If you build something and want to share it, let me know and I'll add it to this section.
</p>

<ul>
  <li><a href="https://github.com/cibernox/ember-power-select-blockless">Ember Power Select Blockless</a></li>
  <li><a href="https://github.com/cibernox/ember-power-select-typeahead">Ember Power Select Typeahead</a></li>
  <li><a href="https://github.com/cibernox/ember-power-select-with-create">Ember Power Select With Create</a></li>
  <li><a href="https://github.com/cibernox/ember-power-select-sortable">Ember Power Select Sortable</a></li>
  <li><a href="https://github.com/cibernox/ember-power-select-with-fallback">Ember Power Select With Fallback</a></li>
  <li><a href="https://github.com/gregjopa/ember-power-select-form">Ember Power Select Form</a></li>
  <li><a href="https://github.com/kaliber5/ember-bootstrap-power-select">Ember Bootstrap Power Select</a></li>
  <li><a href="https://github.com/RyanNerd/ember-power-timepicker">Ember Power Time Picker</a></li>
  <li><a href="https://github.com/IliasDeros/ember-data-power-select">Ember Data Power Select</a></li>
</ul>
