<h1 class="doc-page-title">CSS animations</h1>

<p>
  Want to add some fancy effects to your selects when they open and close?
  Ember Power Select has you covered!
</p>

<p>
  When opening and closing the selects EPS adds some utility classes to the <code>.ember-power-select-dropdown</code>
  element that you can target to perform your CSS vodoo.
</p>
<p>The lifecycle of those clases is:</p>
<ul>
  <li>
    After the <code>.ember-power-select-dropdown</code> has been added to the DOM, it receives a
    <code>.ember-basic-dropdown--transitioning-in</code> class.
  </li>
  <li>
    Once all opening animations or transitions have finished, <code>.ember-basic-dropdown--transitioning-in</code> is
    replaced by <code>.ember-basic-dropdown--transitioned-in</code>.
  </li>
  <li>
    When closed, EPS replaces its content with a clone and adds a <code>.ember-basic-dropdown--transitioning-out</code> to it.
  </li>
  <li>
    Once all closing animations or transitions have finished, the "ghost" clone is finally removed.
  </li>
  <li>
    If you don't have animations nor transitions, most of this work is skipped.
  </li>
</ul>

<p>
  So, what do you have to do to enable this? Nothing, just add some <strong>animation</strong> with CSS.
<p>
</p>
  Note that you have to use CSS animations, <strong>this approach doesn't work with CSS transitions.</strong>
</p>

<p>Lets add some slide and fade in animation to a select that uses the bootstrap theme.</p>

{{#code-example hbs="css-animation-1.hbs" css="css-animation-1.scss" as |partialName|}}
  {{partial partialName}}
{{/code-example}}

<p>
  Now that you can add animations, the first rule of animations is use them with caution, and if you
  decide that it worth adding them, keep them short. Almost any animation over a third of a second
  is probably too long.
</p>

<p>
  Now lets dive in something more serious. Debouncing searches.
</p>

<div class="doc-page-nav">
  {{#link-to "public-pages.cookbook.bootstrap-theme" class="doc-page-nav-link-prev"}}&lt; Bootstrap theme{{/link-to}}
  {{#link-to "public-pages.cookbook.debounce-searches" class="doc-page-nav-link-next"}}Debounce searches &gt;{{/link-to}}
</div>
