<h1 class="doc-page-title">System-wide config</h1>

<p>
  So far we've seen that Ember Power Select can take a fair amount of configuration options on
  invocations to alter its default behavior.
</p>

<p>
  But what happens when you want all your selects to behave on a certain way that is not the default one?
  Repeating the same options over and over on your templates is not pleasant and error prone.
</p>

<p>
  If you want to apply a configuration option to all your selects there is no special way
  or key in the <code>/config/environment.js</code> you need to learn.
  Just use The Ember Way™.
</p>

<p>
  Inside your app's <code>/app/components</code> folder create a <code>ember-power-select.js</code>
  file:
</p>

{{code-snippet name="system-wide-config-1-js.js"}}

<p>
  That's all. No new concepts to learn, just your usual ember-cli work flow.
</p>

<p>
  In this example the component is also named <code>\{{ember-power-select}}</code> but using this approach
  you can create many components with different names that extend and customize Ember Power Select
  in different ways. Pick and choose.
</p>

<div class="doc-page-nav">
  {{#link-to "public-pages.cookbook.bootstrap-theme" class="doc-page-nav-link-next"}}Bootstrap theme &gt;{{/link-to}}
</div>