<h1 class="doc-page-title">Material theme</h1>


<div class="doc-page-nav">
  {{#link-to 'public-pages.cookbook.bootstrap-theme' class="doc-page-nav-link-prev"}}&lt; Bootstrap theme{{/link-to}}
  {{#link-to 'public-pages.cookbook.css-animations' class="doc-page-nav-link-next"}}CSS animations &gt;{{/link-to}}
</div>