{{#if searchEnabled}}
  <div class="ember-power-select-search">
    <input type="search" autocomplete="off"
      autocorrect="off" autocapitalize="off"
      spellcheck="false" role="combobox"
      aria-controls={{listboxId}}
      placeholder={{searchPlaceholder}}
      oninput={{handleInput}}
      onkeydown={{action "handleKeydown"}}>
  </div>
{{/if}}