<li class="ember-power-select-group" aria-disabled={{ember-power-select-true-string-if-present disabled}} role="option">
  <span class="ember-power-select-group-name">{{groupName}}</span>
  {{yield}}
</li>