{{#if @isMultipleWithSearch}}
  {{#let
    (component (ensure-safe-component @inputComponent))
    as |InputComponent|
  }}
    <InputComponent @isDefaultPlaceholder={{true}} />
  {{/let}}
{{else if @placeholder}}
  <span
    class="ember-power-select-placeholder"
    ...attributes
  >{{@placeholder}}</span>
{{/if}}