{{#if @isMultipleWithSearch}}
  {{#let @inputComponent as |InputComponent|}}
    <InputComponent @isDefaultPlaceholder={{true}} @select={{@select}} />
  {{/let}}
{{else if @placeholder}}
  <span
    class="ember-power-select-placeholder"
    ...attributes
  >{{@placeholder}}</span>
{{/if}}